{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block navbar_right %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-success" href="{{ path('trip_new') }}"><i class="far fa-plus-square"></i> New Trip</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>All Trips</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Distance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.distance }}</td>
                    <td>
                        <a class="btn btn-info col-5" href="{{ path('trip_show', {id: trip.id}) }}">Show</a>
                        <a class="btn btn-primary col-5" href="{{ path('trip_edit', {id: trip.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
